In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
data=pd.read_csv('startup_funding.csv')
df=data.copy()
df.SubVertical.fillna('SubVertical', inplace=True)
df.tail()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
2367,2367,29-01-2015,Printvenue,NaN,SubVertical,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000",NaN
2368,2368,29-01-2015,Graphene,NaN,SubVertical,NaN,KARSEMVEN Fund,Private Equity,"8,25,000",Govt backed VC Fund
2369,2369,30-01-2015,Mad Street Den,NaN,SubVertical,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000",NaN
2370,2370,30-01-2015,Simplotel,NaN,SubVertical,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,2371,31-01-2015,couponmachine.in,NaN,SubVertical,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000",NaN